body {
    background: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

html, body {
    height: 100%;
    margin: 0;
}


core-scaffold {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

core-toolbar{
    background-color: #526E9C;
    color: #fff;
}

/* some default styles for mode="cover" on core-scaffold */
core-scaffold[mode=cover]::shadow core-header-panel::shadow #mainContainer {
    background: #FFFFFF;
    left: 120px;
}

core-scaffold[mode=cover] .content {
    margin: 20px 100px 20px 0;
}

google-map{
    height: 700px;
    display: block;
    width: 100%;
}
#mapa{
    height: 700px;
    display: block;
    width: 100%;
}

.hide{
    display: none;
}

#panel-busqueda{
    padding: 10px;
    background: #455A81;
    position: absolute;
    top:64px;
    left: 0;
    right: 0;
    height: 61px;
    left: -10px;
    right: -9px;

}

#lugares-list{
    padding: 0;
    background: #f7f7f7;
}

.lugar-item{
    margin: 8px 5px;
    background: #FFFFFF;
    border: 1px solid #dddddd;
    padding: 5px;
    position: relative;
    height: 50px;
}

.lugar-item:hover{
    background: #eeeeee;
    cursor: pointer;
}

.lugar-item .categoria-item{
    position: absolute;
    top: 12px;
    left: 10px;
}

.lugar-item h5{
    margin: 0;
    padding: 0;
    line-height: 12px;
    position: absolute;
    top: 0px;
    left: 40px;
    width: 190px;
    text-align: right;
    height: 30px;
}

.lugar-item h6{
    margin: 0;
    padding: 0;
    line-height: 12px;
    position: absolute;
    text-align: right;
    top: 28px;
    left: 35px;
    width: 195px;
    height: 30px;

}

#logo_app{
    width: 100%;
    text-align: center;
}

#logo_app img{
    margin: 0 auto;
}

.tall{
    height: 145px;
}

#input_busqueda, #select_radio{
    font-size: 18px;
    width: 100%;
    border: 2px solid #4F6794;
    color: #555555;
    padding: 5px;
}

#contenedor-forms{
    background: #FFFFFF;
}

.app-cont {
    padding: 10px;
    background: #FFFFFF;
}

core-scaffold::shadow core-drawer-panel core-header-panel{
    background: #FFFFFF;
}

.hide{
    display: none;
}

.formularip-app{
    border: 1px solid #CCC;
    padding: 5px;

}

.cont-informacion{
    margin: 10px 0;
}

.panel {
    position: relative;
}

.panel h3{
    border-bottom: 1px solid #CCC;
    padding:0 0 5px 0;
    text-align: right;
}

.fab {
    position: absolute;
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    top: 10px;
    left: 20px;
}

.fab.red {
    background-color: #105cb6;
}

.fab:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}

.fab > core-icon {
    margin: 5px;
}

.fab > core-icon::shadow path {
    fill: #fff;
}

.btn-accion{
    margin: 3px 0 0 0;
    width: 70px;
}

#form-map{
    width: 100%;
    height: 300px;
}

.foto{
    width: 100px;
}

.labels {
    color: red;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 9px;
    text-align: center;
    padding: 1px;
    border: 1px solid black;
    white-space: nowrap;
}

#contenedor-informacion{
    height: 700px;
    width: 100%;
    margin: 0 auto;
}
#core-header-consulta{
    float: left;
    width: 100%;
    height: 100%;
}
#consulta_header{
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    padding: 0 10px;
    background-color: #455A81;
    color: #FFF;
    transition: height 0.2s;
}

#content-consulta{
    height: 800px;
    width: 100%;
    display: block;
}

core-header-panel[mode=cover]::shadow #mainContainer {
    left: 70px;
}

.core-header {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    padding: 0 10px;
    background-color: #ccc;
    color: #FFF;
    transition: height 0.2s;
}

.core-header.tall {
    height: 180px;
}

.core-header.medium-tall {
    height: 120px;
}

#contenido-consulta{

    height: 2000px;
    background: linear-gradient(rgb(214, 227, 231), lightblue);

}

.informacion{
background: #efefef;
}

#consulta-info h3{
    text-align: right;
}

.foto_ubic{
    width: 100%;
}